# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Documents\UCLL\Project 1\Projectweek1_Pils_19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Projectweek1_Pils_19.iml
/.idea/
/out/
